Repository atolye15/checklist, pull requests merged in 2020-03, with the labels that each got.

#45 Create brewing-espresso.md
  checklists/brewing-espresso.md
Labels: new checklist

#47 Setting up Meta Tags
  checklists/setting-up-meta-tags.md
Labels: new checklist

#46 Create design-handoff
  checklists/design-handoff.md
Labels: new checklist

#51 Arrange an Internal Meetup Checklist
  checklists/arrange-an-internal-meetup.md
Labels: new checklist

#50 Create creating-classic-project-on-jira.md
  checklists/creating-classic-project-on-jira.md
Labels: new checklist

#53 Create board-settings-on-jira.md
  checklists/board-settings-on-jira.md
Labels: new checklist

#58 Create testing-push-notifications.md
  checklists/testing-push-notifications.md
Labels: new checklist

#64 Create production-release-checklist.md
  checklists/production-release-checklist.md
Labels: new checklist

#63 Password Generation Rules
  checklists/organizing-atolye15-talks.md
  checklists/password-generation-rules.md
Labels: new checklist

#65 Branch Settings on GitHub
  checklists/branch-settings-on-github.md
Labels: new checklist

#75 Newcomer Accounts Checklist
  checklists/newcomer-accounts-checklist.md
Labels: new checklist

#68 Create cross-browser-test.md
  checklists/crossbrowser-test.md
Labels: new checklist

#70 Create staging checklist for mobile apps
  checklists/staging-mobile-app.md
Labels: new checklist

#74 Create creating-color-palettes.md
  checklists/creating-color-palettes.md
Labels: new checklist

#76 Remove abstract from tags
  checklists/design-handoff.md
Labels: checklist improvement

#82 Coding Life-Cycle of a Jira Issue
  checklists/coding-life-cycle-of-a-jira-issue.md
Labels: new checklist

#81 Symfony Setup Checklist
  checklists/symfony-setup-checklist.md
Labels: new checklist

#71 Symfony release checklist added.
  checklists/symfony-release-checklist.md
Labels: new checklist

#86 Update and rename writing-a-case-study.md to preparation-of-a-case-st…
  checklists/preparation-of-a-case-study.md
Labels: checklist improvement

#91 Rename crossbrowser-test.md to cross-browser-test.md
  checklists/cross-browser-test.md
Labels: checklist improvement

#77 Create creating-interactive-prototypes.md
  checklists/creating-interactive-prototypes.md
Labels: new checklist

#92 Update production-release-checklist.md
  checklists/production-release-checklist.md
Labels: checklist improvement

#88 Create creating-ui-illustrations.md
  checklists/creating-ui-illustrations.md
Labels: new checklist

#98 Fix typo on feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: enhancement

#94 Create creating-next-gen-project-on-jira.md
  checklists/creating-next-gen-project-on-jira.md
Labels: new checklist

#96 Update production-release-checklist.md
  checklists/production-release-checklist.md
Labels: checklist improvement

#90 Create writing a case study
  checklists/writing-a-case-study.md
Labels: new checklist

#99 Fixed typo
  checklists/creating-next-gen-project-on-jira.md
Labels: checklist improvement

#73 Recruitment Process Checklist
  checklists/recruitment-process.md
Labels: new checklist

#93 Create hiring-process.md
  checklists/hiring-process.md
Labels: new checklist

#89 Create daily-crm-reporting-checklist.md
  checklists/daily-crm-reporting-checklist.md
Labels: new checklist

#102 Suggest links updated.
  .circleci/config.yml
  CONTRIBUTING.md
  checklists/creating-illustrations.md
  gatsby-node.js
  graphql-types.ts
  schema.graphql
  src/pages/404.tsx
  src/templates/categoryTemplate.tsx
  src/templates/checklistTemplate.tsx
  src/templates/homeTemplate.tsx
  src/templates/tagTemplate.tsx
Labels: enhancement

#103 Create orientation.programme.md
  checklists/orientation-programme.md
Labels: new checklist

#100 Create design-life-cycle-of-a-jira-issue.md
  checklists/design-life-cycle-of-a-jira-issue.md
Labels: new checklist

#108 Change selection color
  graphql-types.ts
  src/styles/base/_base.scss
Labels: enhancement

#112 Fix typing error
  checklists/design-life-cycle-of-a-jira-issue.md
Labels: checklist improvement

#106 Fix Typo on Design Handoff Checklist
  checklists/design-handoff.md
Labels: checklist improvement

#113 Create setting-up-wsk.md
  checklists/setting-up-wsk.md
Labels: new checklist

#109 Update and rename creating-a-404-page.md to designing-a-404-page.md
  checklists/creating-a-404-page.md
  checklists/designing-a-404-page.md
  src/containers/Search/Search.tsx
  src/pages/404.tsx
Labels: checklist improvement

#115 Create adding-fonts-to-the-wsk.md
  checklists/adding-fonts-to-the-wsk.md
Labels: new checklist

#105 Create adding-icons-to-web-projects.md
  checklists/adding-icons-to-web-projects.md
Labels: new checklist

#120 Create a-remote-day-of-atolye15.md
  checklists/a-remote-day-of-atolye15.md
Labels: new checklist

#123 CircleCI & Jira Integration
  checklists/circleci-and-jira-integration.md
Labels: new checklist

#124 CircleCI & Codecov Integration
  checklists/circleci-and-codecov-integration.md
Labels: new checklist

#127 Launching an Open-Source Project
  checklists/launching-an-open-source-project.md
Labels: new checklist

#128 Applying to Algolia for Open Source Projects
  checklists/applying-to-algolia-for-open-source-projects.md
Labels: new checklist

#129 Applying to Netlify for Open Source Projects
  checklists/applying-to-netlify-for-open-source-projects.md
Labels: new checklist

#126 Create Your Own Checklist
  checklists/create-your-own-checklist-project.md
Labels: new checklist

#131 Create a New React Project
  checklists/create-a-new-react-project.md
Labels: new checklist

#132 Create a New React-Native Project
  checklists/create-a-new-react-native-project.md
Labels: new checklist

#133 Configure ESLint
  checklists/configure-eslint.md
Labels: new checklist

#134 Configure Stylelint
  checklists/configure-stylelint.md
Labels: new checklist

#136 Create announcing-a-project.md
  checklists/announcing-a-project.md
Labels: new checklist

#138 Create designing-a-card-component.md
  checklists/designing-a-card-component.md
Labels: new checklist

#137 Create designing-a-button-theme.md
  checklists/designing-a-button-theme.md
Labels: new checklist

#139 fix typo on a-remote-day-of-atolye15 checklit
  checklists/a-remote-day-of-atolye15.md
Labels: checklist improvement

#142 Update organizing-atolye15-talks.md
  checklists/organizing-atolye15-talks.md
Labels: checklist improvement

#145 Update updating-our-profile-on-clutch.md
  checklists/updating-our-profile-on-clutch.md
Labels: checklist improvement

#143 Update organizing-intern-bootcamps.md
  checklists/organizing-intern-bootcamps.md
Labels: checklist improvement

#144 Update marketing-sprint-for-projects.md
  checklists/marketing-sprint-for-projects.md
Labels: checklist improvement

#147 Update announcing-a-project.md
  checklists/announcing-a-project.md
Labels: checklist improvement

#148 Fix typo
  checklists/checklist-checklist.md
Labels: checklist improvement

#149 Update cross-browser-test.md
  checklists/cross-browser-test.md
Labels: checklist improvement

#151 Update marketing-sprint-for-projects.md
  checklists/marketing-sprint-for-projects.md
Labels: checklist improvement

#150 Update essentials-of-ui-style-guide.md
  checklists/essentials-of-ui-style-guide.md
Labels: checklist improvement

#152 Update branch-settings-on-github.md
  checklists/branch-settings-on-github.md
Labels: checklist improvement

#146 Create configure-php-cs-fix.md
  checklists/configure-php-cs-fix.md
Labels: new checklist

#159 fix-checkmark
  checklists/design-life-cycle-of-a-jira-issue.md
Labels: checklist improvement
